/* Main-header */
.main-header {
  display: flex;
  gap: 10px;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      font-weight: bold;
      text-decoration: underline;
      color: red;
    }
  }
  .is-active {
    font-weight: bold;

    color: blue;
  }
}

.post-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
